.arbeidstidKalender,
.omsorgstilbudKalender {
    &__mnd {
        margin: 2rem 0 0 0;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.55);
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}
