/** Temp overrides */
.calendarGrid {
    &__day {
        background-color: rgba(255, 255, 255, 0.75);
        margin: 0.125rem;
        &--outsideMonth {
            background-color: transparent;
        }
    }
}

.ekspanderbartPanel--omsorgstilbud > button {
    padding: 0.5rem 1rem;
}

.omsorgstilbud__enkeltdager {
    list-style: none;
    padding: 0;
    margin: 0;
    &__dag {
        margin: 0.5rem 0;
        display: flex;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid #c9c9c9;
    }
    &__dato {
        flex: 1 1 12rem;
        white-space: nowrap;
    }
    &__tid {
        flex: 2 1 100%;
        margin-top: -0.125rem;
        margin-bottom: 0.125rem;
    }
}
.omsorgstilbudForm {
    .timeInput__inputWrapper {
        max-width: 3rem;
    }
    .omsorgstilbud__uketittel {
        font-size: 1.125rem;
    }
    .timeInput .timeInput__contentWrapper {
        padding-bottom: 1.5rem;
    }
}
