// @import '../../styles/assets.less';

.arbeidssituasjonPanel {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &__titleIcon {
        margin-right: 0.5rem;
        width: 1.5rem;
        svg * {
            // fill: @navMorkGra;
            width: 1.5rem;
        }
    }
    &__title {
        display: flex;
        width: 100%;
        justify-items: stretch;
    }
    &__description {
        display: flex;
        margin-left: 2rem;
        width: 100%;
        justify-items: stretch;
    }
    &__content {
        margin-top: 1rem;
        margin-left: 2rem;
        &--indent {
            margin-left: 2.5rem;
        }
    }
}
