.gradert-ansettelsesforhold {
    .input--timer {
        max-width: 4rem;
    }
    .timerEllerProsent {
        width: 100%;
        &__label {
            white-space: nowrap;
        }
        .nav_frontend_skjemaelement_input {
            .skjemaelement__input {
                max-width: 4rem;
            }
        }
    }
}
