.pictureScanningGuide {
  svg {
    pointer-events: none;
  }
  &__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  &__cell {
    flex: 1 1 50%;
    height: auto;

    @media screen and (min-width: 768px) {
      max-width: 25%;
    }
  }
  &__text-block {
    margin-left: 1rem !important;
    margin-bottom: 1rem;
    p {
      padding-bottom: 0;
      padding-left: 0.25rem;
    }
    strong {
      padding-left: 0.5rem;
    }
    span {
      font-size: 0.75rem;
    }
  }
}
