html {
    font-size: 112.5%;
}

.infoMessageContent {
    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.screenOnly {
    @media print {
        display: none;
    }
}

/** nav-frontend overrides */
.checkboks + .skjemaelement__label,
.radioknapp + .skjemaelement__label {
    line-height: 1.5rem;
    padding-left: 1.5rem;
    &:before {
        height: 1rem;
        width: 1rem;
        top: 0.25rem;
    }
}

@media screen and (max-width: 590px) {
    .step__backLink {
        margin-bottom: 0;
    }
    .stegindikator {
        display: none;
    }
}
