html {
    font-size: 112.5%;
}

.infoMessageContent {
    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.screenOnly {
    @media print {
        display: none;
    }
}

.alertstripe__tekst > p:first-child {
    margin-top: 0;
}

.alertstripe__tekst > p:last-child {
    margin-bottom: 0;
}
