.dateIntervalPicker {
  &__flexContainer {
    display: flex;
    .skjemaelement {
      margin-right: 1rem;
      width: 50%;

      .nav-datovelger {
        width: 100%;

        &__inputContainer {
          width: 100%;
        }
      }
    }
  }
}
