.arbeidstidUkerInput {
    &__ukeWrapper {
        @media (min-width: 1050px) {
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
            &:not(:first-child) {
                padding-top: 1rem;
            }
        }
        @media (max-width: 1050px) {
            border-bottom: none;
            padding-bottom: none;
            &:not(:first-child) {
                padding-top: 1rem;
            }
        }
    }
}
